# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/File Type Analyzer with Java/*
!/File Type Analyzer with Java/task/
/File Type Analyzer with Java/task/*
!/File Type Analyzer with Java/task/src
